<h1>Coaching#answer</h1>
<p>Find me in app/views/coaching/answer.html.erb</p>

<%# prints the answer from coaching_controller.rb%>
<%= @answer %>

<%# create a clickable link to come back to the ask form%>
<%= link_to "Ask a new question", "/coaching/ask" %>

